* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.dark__bg {
  background: rgb(22, 165, 209);
}

.header,
.footer,
.contact {
  background: rgb(245, 245, 245);
}

.header__title {
  font-size: 35px;
  font-weight: 700;
  display: inline-block;
  padding-top: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.nav__item {
  background: #fff;
  padding: 10px;
  margin: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

.portfolio__photo {
  width: 80%;
  height: auto;
  padding: 15px 0;
}

.portfolio__text,
.contact__text {
  color: rgb(129, 129, 129);
  padding: 25px 10px;
}

.projects__title {
  padding: 35px 0 20px 0;
  text-transform: uppercase;
  font-size: 20px;
}

.projects {
  padding: 20px 10px;
}

.project__title {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  padding: 20px;
}

.project__text {
  font-family: "Roboto Slab", serif;
  padding: 0 10px 25px 10px;
}

.project__photo {
  width: 100%;
  height: auto;
}

.skills__body {
  padding: 15px;
  margin: 20px;
  display: inline-block;
  background: #fff;
}

.skills__title {
  padding: 10px;
  font-weight: 300;
  font-family: "Roboto", serif;
  text-transform: uppercase;
}

.skills__text {
  padding: 10px;
}

.skills__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.skills__item {
  text-transform: uppercase;
  background: rgb(22, 165, 209);
  color: #fff;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 20px;
}

.skills__item:nth-child(even) {
  background: rgb(151, 151, 151);
  color: #fff;
}

.contact {
  padding: 25px;
}

.contact__body {
  padding: 10px;
}

.contact__title {
  padding: 10px;
  text-transform: uppercase;
}

.contact__phone,
.contact__email {
  color: rgb(129, 129, 129);
  margin-right: 5px;
}

hr {
  margin-top: 20px;
  border: 0.5px solid rgb(151, 151, 151);
  width: 90%;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__name,
.footer__back-to-top {
  padding: 10px 20px 30px 20px;
  font-weight: 700;
  font-size: 18px;
}

.footer__back-to-top {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.nav__footer {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: center;
  }
  .nav__item {
    background: rgb(245, 245, 245);
  }

  .header__bottom {
    display: flex;
    flex-direction: row-reverse;
  }
  .portfolio__photo {
    padding: 0 20px 50px 20px;
  }
  .portfolio__text {
    text-align: left;
    padding: 0 20px 25px 20px;
    font-size: 18px;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
  .project {
    flex-basis: 50%;
    padding: 0 10px;
  }
  .skills__text {
    width: 50%;
    float: left;
  }
  .skills__list {
    width: 50%;
    padding: 10px;
    margin: 0;
  }
  .contact__text {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
  }
  .footer {
    align-items: center;
    padding-bottom: 50px;
  }
  .footer__name {
    padding: 10px;
    margin-left: 10px;
  }
  .footer__back-to-top {
    display: none;
  }
  .nav__footer {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__title {
    padding: 0;
  }
  .projects {
    justify-content: center;
  }
  .project {
    flex-basis: 30%;
  }
}
